.club__filter-label{
  margin: 20px;
}
.club__filter{
  background-color: aquamarine;
  margin: 0 20px 20px;
  display: block;
}

.clubs__list{
  list-style: none;
  background-color: grey;
  margin: 0;
  padding: 0;
}